<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>
</head>
<body>
<h1>{{ title }}</h1>
<div id="container" style="width:100%; height:400px;"></div>
<h3>Positive Sentiment: {{ pPer }}%</h3>
<ol>
    {% for i in range(0, pTweetLen) %}
        <li><img src="{{ pListProfile[i] }}">{{ pList[i] }}</li>
    {% endfor %}
</ol>
<h3>Neutral Sentiment: {{ nuP }}%</h3>
<ol>
    {% for i in range(0, tweetslen) %}
        <li>{{ List[i] }}</li>
    {% endfor %}
</ol>
<h3>Negative Sentiment: {{ negP }}%</h3>
<ol>
    {% for i in range(0, nTweetlen) %}
        <li>{{ nList[i] }}</li>
    {% endfor %}
</ol>
</body>
<script type="text/javascript">
    update();
    setInterval(update, 60000);

    function update() {
        console.log('update');
        const Http = new XMLHttpRequest();
        const url = 'http://127.0.0.1:5000/update';
        Http.open("GET", url);
        Http.send();
        var pDrill = [];

        {% for j in range(0, headerLen) %}
            pDrill += {
                "name":"{{ drilldownHeaders[j] }}",
                "y": "{{ pSource[j] }}"
            };
        {% endfor %}
        // console.log({{ headerLen }});
        // for (i = 0; i < {{ headerLen }}; i++) {
        //    console.log("Count: " + {{ pSource[i] }});
        //    console.log("Name: "+{{ drilldownHeaders[i] }});
        //}
        //for (i = 0; i < {{ headerLen }}; i++) {
        //    console.log({{ drilldownHeaders[i] }});
        //    pDrill += {
        //        "name":"{{ drilldownHeaders[i] }}",
        //        "y": "{{ pSource[i] }}"
        //    };
        //}
        console.log(pDrill);

        var myChart = Highcharts.chart('container', {
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Sentiment'
            },
            xAxis: {
                type:"category"
            },
            yAxis: {
                title: {
                    text: 'Tweets'
                }
            },
            legend: {
                enabled: false
            },
            plotOptions: {
                series: {
                    borderWidth: 0,
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            series: [{
                name: '{{ title }}',
                data: [{
                    name: 'Negative',
                    y:{{ nTweetlen }}
                    , drilldown: 'Negative'
                }, {
                    name: 'Neutral',
                    y:{{ tweetslen }}
                    , drilldown: 'Neutral'
                }, {
                    name: 'Positive',
                    y:{{ pTweetLen}}
                    , drilldown: 'Positive'
                }]
            }]
            , drilldown: {
                series: [
                    {
                        name: "Negative",
                        id: "Negative",
                        data: [{% for k in range(0, headerLen) %}
                            {
                                "name":"{{ drilldownHeaders[k] }}",
                                "y": {{ nSource[k] }}
                            },
                        {% endfor %}]
                    },
                    {
                        name: "Neutral",
                        id: "Neutral",
                        data: [{% for k in range(0, headerLen) %}
                            {
                                "name":"{{ drilldownHeaders[k] }}",
                                "y": {{ nutSource[k] }}
                            },
                        {% endfor %}]
                    },
                    {
                        name: "Positive",
                        id: "Positive",
                        data: [{% for k in range(0, headerLen) %}
                            {
                                "name":"{{ drilldownHeaders[k] }}",
                                "y": {{ pSource[k] }}
                            },
                        {% endfor %}]

                    }]
            }
        })
    }
</script>
</html>
